body{
  margin: 0;
  font-family: 'Raleway', Raleway , sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  background-color: #f9f8fb;
}
body *{box-sizing: border-box}
img{
  width: auto;
  max-width: 100%;
}
a{
color: #000000;
  text-decoration: none;
  font-family: 'Raleway', Raleway , sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.flex-container a:hover{
border-top: 2px solid #ff6033;
}
h1, h2,h3{
  margin: 0;
}
h1{
  font-size: 60px;
  font-weight: 900;
}
h2{
  font-size: 90px;
  font-weight: bold;
}
p{
  font-weight: 300;
}
.white{
  color: #ffffff;
}
header{
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
}

.bg-str{
  background: url("../images/bg-str.png") no-repeat 0 0;
  background-size:  100% ;
  min-height: 900px;
  position: relative;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
.flex-container-big{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
.flex-container{
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container a{
  text-transform: uppercase;
}
.logo{
  font-family: 'Pacifico', Raleway , sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
}
.text-width{
  width: 40%;
}
.pd-top{
  padding-top: 150px;
}

.btn{
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Raleway Light', Raleway, sans-serif;
  font-weight: 300;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 8px 1px #9a9a9c;
}
.btn-orange{
  background-color: #ff6033;
}
.scroll-to{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0  auto;
  bottom: 5%;
  width: 20px;
}
.cyan{
  background-color: #00bfbf;
}
.about-us{
  background-color: #00bfbf;
  overflow: hidden;

}
.about-us img{
float: left;
position: relative;
  left: -15px;
margin-right: 33px;
}
.about-us h2{
font-size: 90px;
color: #ffffff;
padding-top: 125px;
}
.about-us p{
font-size: 17px;
font-weight: 300;
line-height: 25px;
color: #ffffff;
}
.about-us article{
  padding-top: 165px;
}
.blue{
  background-color: #70bfff;
}

.flex-two-item{
  display: flex;
  padding: 150px 0 150px 100px;
  justify-content: space-between;
  min-height: 550px;
  align-items: center;
}
.flex-products{
  display: flex;
  min-height: 460px;
  width: 400px;
  flex-wrap: wrap;
  align-content: space-between;
}
a.name{
  flex: 75% ;
  display: block;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Raleway Bold', Raleway, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 100px;
  border-right: 1px solid #000;
  box-shadow: 0px 3px 10px 1px #45769e;
}
a.line-50{
  line-height: 50px;
}

a.icon{
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  flex: 25%;
  box-shadow:4px 3px 10px 1px #45769e;
}
a.icon img{
  padding: 20px 0 0 20px;
}
.yellow{
  background-color: #ffe92f;
  min-height: 1540px;
}
.flex-two-item img{
  align-self: stretch;
}
.gallery-text{
  width: 630px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 30px 30px;
}
.gallery-text p{
  font-size: 17px;
}
.btn-blue{
  background-color: #5585a2;
  margin: 20px auto;
}
.gallery-container{
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
div.little{
  display: flex;
  justify-content: space-around;
  min-height: 565px;
  align-items: center;
  flex-direction: column;
}