body{
  margin: 0;
  font-family: 'Raleway', Raleway , sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  background-color: #f9f8fb;
}
body *{box-sizing: border-box}
img{
  width: auto;
  max-width: 100%;
}
a{
color: #000000;
  text-decoration: none;
  font-family: 'Raleway', Raleway , sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.flex-container a:hover{
border-top: 2px solid #ff6033;
}
h1, h2,h3{
  margin: 0;
}
h1{
  font-size: 60px;
  font-weight: 900;
}
h2{
  font-size: 90px;
  font-weight: bold;
}
h3{
  font-family: 'Raleway Bold', Raleway , sans-serif;
font-weight: bold;
  font-size: 40px;
}
h4{
  font-family: 'Raleway Bold', Raleway , sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
p{
  font-weight: 300;
}
.white{
  color: #ffffff;
}
header{
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
}

.bg-str{
  background: url("../images/bg-str.png") no-repeat 0 0;
  background-size:  100% ;
  min-height: 900px;
  position: relative;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
.flex-container-big{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
.flex-container{
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container a{
  text-transform: uppercase;
}
.logo{
  font-family: 'Pacifico', Raleway , sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
}
.text-width{
  width: 40%;
}
.pd-top{
  padding-top: 150px;
}

.btn{
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Raleway Light', Raleway, sans-serif;
  font-weight: 300;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 8px 1px #9a9a9c;
}
.btn-orange{
  background-color: #ff6033;
}
.scroll-to{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0  auto;
  bottom: 5%;
  width: 20px;
}
.cyan{
  background-color: #00bfbf;
}
.about-us{
  background-color: #00bfbf;
  overflow: hidden;

}
.about-us img{
float: left;
position: relative;
  left: -15px;
margin-right: 33px;
}
.about-us h2{
font-size: 90px;
color: #ffffff;
padding-top: 125px;
}
.about-us p{
font-size: 17px;
font-weight: 300;
line-height: 25px;
color: #ffffff;
}
.about-us article{
  padding-top: 165px;
}
.blue{
  background-color: #70bfff;
}

.flex-two-item{
  display: flex;
  padding: 150px 0 150px 100px;
  justify-content: space-between;
  min-height: 550px;
  align-items: center;
}
.flex-products{
  display: flex;
  min-height: 460px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
}
.flex-products a{
  box-shadow: 0px 3px 10px 1px #45769e;
}
span.name{
  flex-grow: 5;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Raleway Bold', Raleway, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 100px;
  border-right: 1px solid #000;
}
.flex-products a{
  display: flex;
}
span.center{
  line-height: 50px;
  flex-grow: 1.8;
}

span.icon{
  flex-grow: 1;
  background-color: #ffffff;


}
span.icon img{
  padding: 20px 0 0 20px;
}
.yellow{
  background-color: #ffe92f;
  min-height: 1540px;
}
.flex-two-item img{
  align-self: stretch;
}
.gallery-text{
  width: 630px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 30px 30px;
}
.gallery-text p{
  font-size: 17px;
}
.btn-blue{
  background-color: #5585a2;
  margin: 0 auto;
}
.gallery-container{
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
div.little{
  display: flex;
  justify-content: space-around;
  min-height: 565px;
  align-items: center;
  flex-direction: column;
}
.bg-berry{
  background: #ffffff;

}
.bg-2{
  background: url("../images/bg-berry.png") no-repeat right ;
  min-height: 500px;
}
.subscribe-text{
  width: 549px;
  padding-top: 125px;
}
.flex-subs{
  display: flex;
  justify-content: space-between;
  width: 770px;
}
.flex-subs label input{
  width: 570px;
  height: 56px;
  padding-left: 15px;
  border: 1px solid #000000;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.flex-subs button{
  height: 56px;
  width: 170px;
  background-color: #96b92c;
  border: 1px solid transparent;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Raleway Light', Raleway, sans-serif;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 0px 2px 8px 1px #9a9a9c;
}
.blog{
  min-height: 864px;
  background: linear-gradient( to bottom, #b07cf7, #b07cf7);
}
.blog-text{
  margin: 0 auto;
  width: 570px;
  text-align: center;
  color: white;
  padding-top: 85px;
  padding-bottom: 40px ;
}
.blog-text p{
  font-size: 17px;
}
.blog-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.blog-container a {
  position: relative;

}
.blog-container a img{
  box-shadow: 0px 2px 8px 1px #7b57ac;
}
div.data{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(81, 88, 98, 0.7);
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  border-radius: 5px;
  line-height: 30px;
}
div.data span{
  font-size: 30px;
}
a h5{
position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 20px;
  font-size: 20px;
font-weight: 600;
}
a h5 span{
  font-size: 13px;
}
.btn-pink{
  background-color: #f72b3b;
  border: none;
  margin: 0 auto;
}


#contact-us{
  background: url("../images/bg-nature.png") center;
  min-height: 865px;
}
.contact-text{
  width: 370px;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
.contact-info{
  display: flex;
  width: 1000px;
  justify-content: space-between;
}
form{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 445px;
  justify-content: space-between;
}
form input,
textarea{
  border: none;
  background-color: rgba(0, 196, 196, 0.37);
  color: #ffffff;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Raleway Light', Raleway,sans-serif;
}
form input.name, form input[type="email"], form input.phone{
  height: 50px;
  color: white;
}
form input::placeholder,
textarea::placeholder{
  color: #ffffff;
}
textarea{
height: 250px;
  padding-top: 20px;
}
form input:focus{
  background-color: #00c4c4;
  width: 500px;
  border-left: 4px solid #355b82;
}
textarea:focus{
  background-color: #00c4c4;
}
.our-contact{
  display: flex;
  flex-direction: column ;
  align-items: start;
  justify-content: space-between;
  width: 330px;
  height: 200px;
}
.our-contact *{
  margin: 0;
}
.info-item p{
  font-size: 20px;
}
.black{
  background-color: #262626;
}
footer{
  margin: 0 auto;
  min-height: 90px;
  display: flex;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
.logo-bottom{
  font-family: 'Pacifico', Raleway , sans-serif;
  font-size: 25px;

}
footer span span{
  color: #ff2b58;
}